<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bukti Pendaftaran</title>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <style>
        body {
            border: 1px dotted black;
            padding: 1em;
        }
        h2  {
            padding: 0.2em 0;
            margin: 0;
            font-family: 'Raleway';
            text-transform: uppercase;
        }
        table {

        }

        table tr {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h2>Bukti Pendaftaran Tryout Retro 2017</h2>
<img src="<%= qr %>" alt="qrcode">
<hr>
<table>
    <thead>
    <tr>
        <td>
            Detail Pendaftaran
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>

        </td>
    </tr>
    </tbody>
</table>
<%= JSON.stringify(data) %>
</body>
</html>